/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Cinza claro */
    color: #333;
}

header {
    background-color: #d32f2f; /* Vermelho */
    color: #fff; /* Branco */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Adicionado para posicionar a imagem corretamente */
    text-align: center;
}

header h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    top: 5px; /* Ajustado para mover o logotipo mais para cima */
    left: 10px;
}

.logo img {
    width: 50px; /* Defina o tamanho da imagem conforme necessário */
    height: auto;
    cursor: pointer;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 24px; /* Aumentei o tamanho do título */
    margin-bottom: 20px; /* Aumentei o espaço abaixo do título */
    color: #d32f2f; /* Vermelho */
}

main nav {
    text-align: center;
    margin-top: 20px;
}

main nav a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #d32f2f; /* Vermelho */
    border-radius: 4px;
    transition: background-color 0.3s;
}

main nav a:hover {
    background-color: #b71c1c; /* Vermelho mais escuro */
    color: #fff; /* Branco */
}

footer {
    background-color: #f9f9f9;
    color: #666;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilização para o botão de login/logout */
.login-button {
    position: fixed;
    top: 20px;
    right: 20px;
}

.login-button a {
    text-decoration: none;
    color: #fff;
    background-color: #d32f2f; /* Vermelho */
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-button a:hover {
    background-color: #b71c1c; /* Vermelho mais escuro */
}

/* Estilos para o formulário de login */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mensagem {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffc107;
    color: #333;
}
