*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --primary-color:black;
    --secondary-color:white;
    --thrid-color:#262626;
}
.light-theme{
    --primary-color:white;
    --secondary-color:black;
    --thrid-color:aliceblue;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--primary-color);
    color: var(--secondary-color);
}
#icon{
    width: 30px;
    cursor: pointer;
}
#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header-dark {
    background-image: url('back.png'); /* Imagem para o tema escuro */
}

.header-light {
    background-image: url('backwhite.png'); /* Imagem para o tema claro */
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav h1 {
    font-size: 40px;
}

nav h1 span {
    color: #EEDA26;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #EEDA26;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #EEDA26;
}

#current-time-container {
    position: absolute;
    bottom: 100px;
    right: 200px;
    display: flex;
    align-items: center;
}

#weather-icon {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    margin-right: 10px; /* Espaçamento entre o ícone e o horário */
}

#current-time {
    font-size: 30px; /* Ajuste o tamanho da fonte conforme necessário */
}

/*-------about------*/
#about{
    padding : 80px  0;
    color : var(--secondary-color);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 img{
    flex-basis: 35%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}
.sub{
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#EEDA26;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#f2e03e;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*----------------------------------services------------*/
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: var(--thrid-color);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 12px;
    margin-top:20px;
    display: inline-block;
}

.services-list div:hover{
    background: #EEDA26;
    transform: translateY(-10px);
}
/*----------------------------------Projects------------*/
#projects{
    padding: 50px 0;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 60%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),#EEDA26);
    border-radius: 10px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #EEDA26;
}

.work:hover img{
    transform: scale(1.1);
}
/*----------------------------------Contact------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #EEDA26;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right: 15px;
    color:#f2e03e;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: aliceblue;
    transform: translateY(-5px);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #EEDA26;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: background 0.5s;
}

.btn:hover{
    background: #EEDA26;
}
.btn.btn1{
    display: inline-block;
}

.btn.btn2{
    background: var(--primary-color);
    display: inline-block;
}

.btn.btn2:hover{
    background: #EEDA26;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--thrid-color);
    padding: 15px;
    margin: 15px 0;
    color: #EEDA26;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--thrid-color);
    font-weight: 300;
    margin-top: 20px;
}
/*----------ccs for smalll screens-----*/
nav .fa-regular.fa-circle-xmark{
    display: none;
}
nav .fa-solid.fa-house{
    display: none;
}

@media only  screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-regular.fa-circle-xmark{
        display: block;
        font-size: 25px;
    }
    nav .fa-solid.fa-house{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #EEDA26;
        position: fixed;
        top: 0;
        right: -200px; /* hide*/
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-regular.fa-circle-xmark{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 40px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 40px;
    }
}




