<!DOCTYPE html>
{% extends "bandasrap/layout.html" %}

{%block content%}
<div class = "list">
    <h1>Lista dos <span>Albuns:</span></h1>
    <ul>
    {% for album in albuns %}
        <li>
            <a href="{% url 'bandasrap:album' album.id %}">{{ album.nome }}</a>
            {% if request.user.is_authenticated %}
                <div>
                    <a href="{% url 'bandasrap:edita_album' album.id %}" class="delete-icon">
                        <i class="fa-solid fa-pen-to-square" style="color: #ff0000;"></i>
                    </a>
                    <a href="{% url 'bandasrap:apaga_album' album.id %}" class="delete-icon">
                        <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                    </a>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>

</div>

{%endblock%}