<!DOCTYPE html>
{% extends 'bandasrap/layout.html' %}

{% block content %}
<div class="login-container">
    <h3>Login</h3>

    {% if mensagem %}
      <p class="message">{{ mensagem }}</p>
    {% endif %}
    <form action="{% url 'bandasrap:login'  %}" method="post" class="login-form">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username..">
      <input type="password" name="password" placeholder="Password..">
      <input type="submit" value="Login">
    </form>
    <a href="{% url 'bandasrap:registo' %}" class="create-account-link">Criar conta</a>
</div>

{% endblock %}
